#container {
	height: 99vh;
	width: 99vw;
	margin: 0 0;
	padding: 0 0;
	display: grid;
	grid-template:
		'h h h' 1fr
		'm m m' 6fr
		's s s' 1fr
		/ [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end];
}
.header {
	grid-area: h;
}

.main {
	grid-area: m;
}

.item {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #222;
	text-align: center;
	color: #222;
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	border-radius: 20px;
}

#startButton:hover {
	background-color: blueviolet;
	scale: 90%;
	transition: 1s;
}

#homePage:hover {
	background-color: rgb(85, 143, 111);
	scale: 90%;
	transition: 1s;
}

body {
background-image: url('img/tableTop.jpeg');
background-repeat:round ;
background-size:auto
}

#homeCup {
	grid-area: i;
	height: 20vh;
	width: 95vw;
}

#homeContainer {
	display: grid;
	height: 100vh;
	width: 95vw;
	grid-template:
		'x x x' 8fr
		'i i i' 2fr
		'y y y' 2fr
		/ [col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end];
}

#homeTop {
	grid-area: x;
}

#homeBottom {
	grid-area: y;
}

button {
	background-color: transparent;
	cursor: pointer;
}
